<!DOCTYPE html>
<hmtl>
    <head>
        <title>Project 0</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/css/estilos.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Antigua Grecia</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/index.html">Inicio</a>
                  <a class="nav-link" href="/templates/History.html">Historia</a>
                  <a class="nav-link active" aria-current="page" href="#">Cultura</a>
                  <a class="nav-link disabled">Personajes famosos</a>
                </div>
              </div>
            </div>
        </nav>    
        <div id="banner-culture">
            <h1>Cultura</h1>
        </div>
        <article class="container"> 
          <section>
            <h2>Medicina griega</h2>
            <p>
              Desde la medicina de la civilización griega, la enfermedad era considerada un castigo divino, y la curación un regalo de los dioses. A partir del siglo V a.C. se desarrollaron teorías que intentaban comprender las causas materiales de las enfermedades, además de las justificaciones espirituales.
              <br>
              Los médicos estudiaron el cuerpo humano, la conexión entre causa y efecto de ciertos síntomas relacionados con las enfermedades y probaron diversos tratamientos. El aporte principal fue la creencia de que el paciente podía controlar su salud en base a su dieta, lo que contrastaba con la mentalidad fatalista y espiritual de épocas anteriores.
              <br>
              El médico Hipócrates fue el fundador de la escuela de medicina cuyo concepto general se basó en el enfoque terapéutico y en el poder curativo de la naturaleza. Esta doctrina sostenía que el cuerpo contiene de forma natural, el poder intrínseco de sanarse. La terapia hipocrática se concentraba, entonces, en facilitar ese proceso natural.
            </p>
          </section>
          <section>
            <h2>Mitología griega</h2>
            <p>
              La mitología griega es un conjunto de relatos, mitos y leyendas en los que los griegos intentaban explicar el origen del mundo y exponer parte de la cultura de la antigua Grecia. En los relatos representaban a los dioses del Olimpo, héroes, rituales y aspectos de la vida política y social.

              Un ejemplo es “El mito del nacimiento de Atenea”, la diosa de la sabiduría, las ciencias, la justicia y la guerra. Cuenta la leyenda que el dios supremo Zeus dejó embarazada a una ninfa del océano llamada Metis. Al poco tiempo, Zeus recibió un mensaje profético anunciando que tendría hijos más poderosos que él y que podrían derrocarlo.

              Para evitar eso, Zeus decidió tragarse a la ninfa Metis e impedir que naciera su hijo. Sin embargo, el embarazo siguió su curso en el interior del dios Zeus, sin que esté lo supiera.

              Finalmente, Zeus comenzó a padecer fuertes dolores de cabeza y le pidió al dios Hefesto que le quitara de la cabeza lo que le producía semejante molestia. Una vez abierta la cabeza de Zeus con un hacha, salió Atenea completamente formada, adulta y portando armadura de soldado.
            </p>
          </section>
        </article>
    </body>
</hmtl>